@sticky-yellow: #ffd93a;
@sticky-orange: #fbad4b;
@sticky-green: #e3e546;
@sticky-blue: #73cac4;
@sticky-red: #f2788f;
@sticky-purple: #a2509a;

@wall-height: calc(100vh - @ceiling-height);

@wall-width: 10vw;
@wall-color: #ebebeb;
@frame-color: #68544d;

@ceiling-height: 5vh;
@ceiling-color: lighten(@wall-color, 10%);

@border-radius: 3px;

body {
  font: normal x-small verdana,arial,helvetica,sans-serif;
  margin: 0;
  font-size: 16px;
  background: @wall-color;
}

* {
  box-sizing: border-box;
}

video,
img {
  max-width: 100%;
}

input,
textarea {
  border: 0;
  padding: 5px;
  width: 100%;
  margin: 5px 0;
  background: fade(white, 50%);
  border-radius: @border-radius;
  font-family: 'Caveat', cursive;
  font-size: inherit;

  &::placeholder {
    font: normal x-small verdana,arial,helvetica,sans-serif;
  }
}

textarea {
  resize: none;
}

button {
  margin: 0;
  padding: 5px;
  margin: 5px;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#erika {
  position: fixed;
  right: 8vw;
  bottom: -@ceiling-height;
  width: 200px;
  z-index: 1000;

  @media (min-width: 768px) {
    width: 350px;
  }
}

#pencil-toggle,
#new-sticky-form button[type="submit"] {
  background-color: grey;
  color: white;
  width: 100%;
  margin: 5px 0 0;

  &:hover {
    background-color: black;
  }
}

#pencil-toggle {
  background-image: url(assets/pencil.svg);
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-image: url(assets/pencil-white.svg);
  }
}

#wall-container {
  position: absolute;
  left: @wall-width;
  top: @ceiling-height;
  min-height: calc(100vh - @ceiling-height);
  height: 100%;
  width: calc(100vw - @wall-width);
  z-index: 100;
}

#wall {
  @margin-side-x: 20px; 
  @margin-side-y: 20px;

  display: flex;
  flex-flow: row wrap;
  padding: 20px 10px 200px 10px;
  // margin: @margin-side-y @margin-side-x 0 @margin-side-x;
  // width: calc(100% - 2*@margin-side-x);
  width: 100%;
  min-height: @wall-height;
  overflow-y: scroll; 
  background: url(assets/rice-paper-2.png) 200px 200px repeat #9e8c7f;
}


#new-sticky-form {
  input[type="radio"] {
    width: auto;
  }

  .color-block {
    display: inline-block;

    label {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0 5px;
      vertical-align: middle;
    }
  }
}

.color-block label[for="bg-color-yellow"] {
  background: @sticky-yellow;
}

.sticky-note.orange,
.color-block label[for="bg-color-orange"] {
  background: @sticky-orange;
}

.sticky-note.green,
.color-block label[for="bg-color-green"] {
  background: @sticky-green;
}

.sticky-note.blue,
.color-block label[for="bg-color-blue"] {
  background: @sticky-blue;
}

.sticky-note.red,
.color-block label[for="bg-color-red"] {
  background: @sticky-red;
}

.sticky-note.purple,
.color-block label[for="bg-color-purple"] {
  background: @sticky-purple;
}

#bottom-area {
  // width: 100%;
  // height: 180px;
  // padding: 20px 10px 10px 10px;
  // overflow-y: scroll;
  // background: url(assets/rice-paper-2.png) 200px 200px repeat #8d7767;
}

.sticky-note {
  @side-padding: 15px;
  @side-margin: 15px;
  @base-width: 300px;
  @max-height: 270px;

  flex: auto;
  max-width: 100%;
  min-height: 150px;
  max-height: 100%;
  margin: @side-margin;
  font-family: 'Caveat', cursive;
  background: @sticky-yellow;
  display: inline-block;
  padding: @side-padding;
  box-shadow: 7px 7px 0px rgba(50, 50, 50, 0.3);
  font-size: 20px;
  animation: stickon 100ms cubic-bezier(.6,.04,.98,.34);

  @keyframes stickon {
    from {
      transform: scale(3);
    }

    to {
      transform: scale(1);
    }
  }

  @media (min-width: 768px) {
    max-width: 300px;
    max-height: @max-height;
  }

  &.has-media {
    @media (min-width: 768px) {
      max-width: @base-width * 2 - 200px;

      img {
        margin-right: 10px;
        max-width: 50%;
        max-height: calc(@max-height - @side-padding*2);
        float: left;
      }
    }
  }

  .submitter {
    float: right;
  }
}

.sticky-note:nth-child(even) {
  transform: rotate(-2deg);
  position: relative;
  top: -2px;
}

.sticky-note:nth-child(3n) {
  transform: rotate(1deg);
  position: relative;
  top: 0;
}

.sticky-note:nth-child(5n) {
  transform: rotate(2deg);
  position: relative;
  top: -1px;
}

.sticky-note:nth-child(7n) {
  transform: rotate(-1deg);
  position: relative;
  top: -2px;
}

.sticky-note:nth-child(10n) {
  transform: rotate(0deg);
  position: relative;
  top: 0px;
}




#ceiling {
  width: calc(100% - @wall-width);
  height: @ceiling-height;
  background: @ceiling-color;
  position: absolute;
  z-index: 6;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#ceiling:before { // left
  content: '';
  position: absolute;
  top: 0px;
  left: calc((@wall-width / 4 * -1) + 1px);
  z-index: 8;
  border-bottom: @ceiling-height solid transparent; // height
  border-right: calc(@wall-width / 4) solid @ceiling-color; // width
  width: 0px;
}

#wall-left {
  height: 100%;
  width: @wall-width;
  position: absolute;
  left: 0px;
  z-index: 6;
  // border-right: @frame-color solid 15px;
}

// .window-frame {
//   background: @frame-color;
// }

// #frame-top {
//   width: 20px;
//   height: 200px;
//   transform: rotate(-45deg) translate(123px, 0);
//   transform-origin: center;
// }
