@sticky-yellow: #ffc;
@sticky-orange: #f8bd49;
@sticky-green: #cee2d7;
@sticky-blue: #b3cce2;
@sticky-red: #ee5f35;
@sticky-purple: #a2509a;

@border-radius: 3px;

body {
  font: normal x-small verdana,arial,helvetica,sans-serif;
  margin: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

video,
img {
  max-width: 100%;
}

main {

}

input,
textarea {
  border: 0;
  padding: 5px;
  width: 100%;
  margin: 5px 0;
  background: white;
  border-radius: @border-radius;
  font-family: 'Caveat', cursive;
  font-size: inherit;

  &::placeholder {
    font: normal x-small verdana,arial,helvetica,sans-serif;
  }
}

textarea {
  resize: none;
}

button {
  margin: 0;
  padding: 5px;
  margin: 5px;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#pencil-toggle,
#new-sticky-form button[type="submit"] {
  background-color: grey;
  color: white;
  width: 100%;
  margin: 5px 0 0;

  &:hover {
    background-color: black;
  }
}

#pencil-toggle {
  background-image: url(assets/pencil.svg);
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-image: url(assets/pencil-white.svg);
  }
}

#wall {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll; 
  padding: 20px 10px;
  background: url(assets/rice-paper-2.png) 200px 200px repeat #8d7767;
}


#new-sticky-form {
  input[type="radio"] {
    width: auto;
  }

  .color-block {
    display: inline-block;

    label {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0 5px;
      vertical-align: middle;
    }
  }
}

.color-block label[for="bg-color-yellow"] {
  background: @sticky-yellow;
}

.sticky-note.orange,
.color-block label[for="bg-color-orange"] {
  background: @sticky-orange;
}

.sticky-note.green,
.color-block label[for="bg-color-green"] {
  background: @sticky-green;
}

.sticky-note.blue,
.color-block label[for="bg-color-blue"] {
  background: @sticky-blue;
}

.sticky-note.red,
.color-block label[for="bg-color-red"] {
  background: @sticky-red;
}

.sticky-note.purple,
.color-block label[for="bg-color-purple"] {
  background: @sticky-purple;
}

#bottom-area {
  // width: 100%;
  // height: 180px;
  // padding: 20px 10px 10px 10px;
  // overflow-y: scroll;
  // background: url(assets/rice-paper-2.png) 200px 200px repeat #8d7767;
}

.sticky-note {
  @side-padding: 15px;
  @side-margin: 10px;
  @base-width: 300px;
  @max-height: 260px;

  flex: auto;
  max-width: 100%;
  min-height: 150px;
  max-height: 100%;
  margin: @side-margin;
  font-family: 'Caveat', cursive;
  background: @sticky-yellow;
  display: inline-block;
  padding: @side-padding;
  box-shadow: 5px 5px 7px rgba(50,50,50,.6);
  font-size: 20px;
  animation: stickon 100ms cubic-bezier(.6,.04,.98,.34);

  @keyframes stickon {
    from {
      transform: scale(3);
    }

    to {
      transform: scale(1);
    }
  }

  @media (min-width: 768px) {
    max-width: 300px;
    max-height: @max-height;
  }

  &.has-media {
    @media (min-width: 768px) {
      max-width: @base-width * 2 - 200px;

      img {
        margin-right: 10px;
        max-width: 50%;
        max-height: calc(@max-height - @side-padding*2);
        float: left;
      }
    }
  }

  .submitter {
    float: right;
  }
}

.sticky-note:nth-child(even) {
  transform: rotate(-2deg);
  position: relative;
  top: -2px;
}

.sticky-note:nth-child(3n) {
  transform: rotate(1deg);
  position: relative;
  top: 0;
}

.sticky-note:nth-child(5n) {
  transform: rotate(2deg);
  position: relative;
  top: -1px;
}

.sticky-note:nth-child(7n) {
  transform: rotate(-1deg);
  position: relative;
  top: -2px;
}

.sticky-note:nth-child(10n) {
  transform: rotate(0deg);
  position: relative;
  top: 0px;
}
